.headerWrapper{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.padding{
    padding-left: 50px;
    padding-right: 50px;
    width: calc(100% - 100px);
}

.iconWrapper{
    display: flex;
    align-items: center;
    gap:10px;
}

.headerIcon{
    transition: 0.3s;
    cursor:pointer

}

.headerIcon:hover{
    transform: scale(1.05);
}

@media screen and (max-device-width: 1000px) {
    .headerWrapper{
        flex-wrap: wrap;
    }
}

@media screen and (max-device-width: 600px) {
    .delete600{
        display: none;
    }
}

@media screen and (max-device-width: 400px) {
    .padding{
        padding-left: 15px;
        padding-right: 15px;
        width: calc(100% - 30px);
    }
}