.mainCard{
    background-color: #FFFBF3;
    width: Ñalc(100%-100px);
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    gap:25px;
    border-radius: 48px;
    padding: 50px;
    width: calc(100% - 200px);
}
.mainCard>h2{
    display: inline-block;
    width: 400px;
}

.cardWrapper{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:25px;
    justify-content: center;
}

.fav-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
}

.grey{
    font-size: 12px;
    color:#1D1D1D
}

.mainIcon{
    cursor: pointer;
    transition: 0.3s;
}

.mainIcon:hover{
    transform: scale(1.1);
}

.mainIconWrapper{
    display: flex;
    flex-direction: row;
    gap:25px
}

.mainWrapper{
    display: flex;
    flex-direction: column;
    gap:50px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    
}

.toolsMainWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:15px;
    background-color: white;
    border-radius: 20px;
    padding: 10px 50px;
    margin-top: -50px;

}

.headMainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.backgroundIMG{
    width: calc(100% - 100px);
}

.rowWrapper{
    display: flex;
    flex-direction: row;
    gap:10px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}


.searchOpened{
    transition: 0.3s;
    margin-top: 0px;
    background-color: white;
    position: relative;
    border-radius: 0px 0px 20px 20px;
    padding: 10px 50px;
    gap:25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:50px;
    padding-bottom: 50px;
}

.checkboxWrapper{
    display: flex;
    flex-direction: column;
    gap:10px
}


