.button{
    background-color: #F5DFB880;
    border-radius: 10px;
    padding: 15px 50px;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;
}
.button:hover{
    opacity: 0.5;
}