.card__container{
    background-color: white;
    border-radius: 15px;
}
.tinder-card__card{
    border-radius: 0px!important;
    display: flex;
    flex-direction: column;
    border: none!important;
    gap: 10px;
}

.tinder__content{
    display: flex;
    flex-direction: column;
    border: none!important;
    gap: 5px;
    padding: 10px;
    max-width: 280px;
    height: 210px;
}

.tin{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tin-dir{
    display: flex;
    width: 700px;
    gap: 10px;
}

.main-btn{
    background-color: #FFCF08;
}