.tourcard-block{
    width: 400px;
    height: 548px;
    display: flex;
    flex-direction: column;
    gap:25px;
    padding: 25px;
    border: solid #F5DFB8 1px;
    background-color: #fff;
}

.cardDescr{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardTitle{
    display: flex;
    flex-direction: column;
    gap:15px;
}

.cardInfo{
    display: flex;
    gap:15px;
    color:rgba(29, 29, 29, 0.5)
}

.cardAvatar{
    height: 100px;
    transform: rotate(5deg);
}

.titleText{
    font-size: 24px;
    padding-right: 50px;
}

.placesWrapper{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 30px;
    height: 260px;
    overflow-y: scroll;
}
.placesWrapper::-webkit-scrollbar {
    width: 0;
  }
.placeCard{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.placeImage{
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.placeDescrWrapper{
    display: flex;
    flex-direction: column;
    gap:7px;
    font-size: 16px;
}

.placeType{
    color:rgba(29, 29, 29, 0.5);
    font-size: 12px;
}

.mainCardContent{
    position: relative !important;
}

.tourCardSidebar{
    position: fixed !important;
    left: 0px;
    width: 30%;
    top:0px;
    border-radius: 0px 20px 20px 0px;
    padding: 50px; 
}

.sidebarChangeContent{
    display: flex;
    flex-direction: column;
    gap:50px;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    height: 100%;
}


.openBtn{
    display: flex;
    flex-direction: row;

}

.yOpenBtn{
    width: 80%;
    height:48px;
    background: #FFCF08;
    padding: 0px 16px;
    border-radius: 20px 4px 4px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.yOpenBtn:hover{
    opacity: 0.5;
}

.yOpenBtnTitle{
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #1D1D1D;
}
.yOpenBtnDescr{
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: rgba(29, 29, 29, 0.5);
}

.btnWrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap:5px;
    align-items: center;
    justify-content: center;
}

.likeBtn{
    height:48px;
    padding: 0px 13px 0px 11px;
    background: rgba(245, 223, 184, 0.5);
    border-radius: 4px 20px 20px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;
}

.likeBtn:hover{
    opacity: 0.5;
}

@media screen and (max-device-width: 600px) {
    .tourcard-block{
        width: 300px;
        gap:15px;
        padding: 15px;
    }
    .titleText{
        font-size: 18px;
        line-height: 22px;
    }

    .cardInfo{
        font-size: 14px;
    }
    .tourCardSidebar{
        width: calc(100% - 150px);
    }
}

@media screen and (max-device-width: 400px) {
    .tourcard-block{
        width: 280px;
    }
}

.tabs{
    width: 100%;
}